/*--------------------------------------------------------------
## Variables
--------------------------------------------------------------*/
// Fonts
$font-default-serif: Roboto, serif;

$font-light-serif: Roboto Light, serif;
$font-bold-serif: Roboto Bold, serif;
$font-default-serif: Roboto, serif;
$font-default-sans-serif: Arial, Helvetica, sans-serif;

$font-main: $font-default-serif;

// Colors
$color-text-main: #404040;
$color-link: #804040;
$white: #fff;
$black: #000;
$silver-dark: #303133;
$silver: #131212;
$grey: #ebebeb;
$grey-light: #fafafa;
$grey-dark: #808080;
$gold: #c1a462;
$purple: #651297;
$green: #1dba9b;

/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
$columns: (
		1: 100%,
		2: 50%,
		3: 33.33%,
		4: 25%,
		5: 20%,
		6: 16.66%,
		7: 14.28%,
		8: 12.5%,
		9: 11.11%
);

$columns-margin: 3.8%;