// wrapper and ratios
.media-wrap {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		width: 100%;
	}
}

.media-wrap-square::before {
	padding-top: 100%;
}

// item
.media-item {
	display: block;
	width: 100%;
	@include center;
}