/*--------------------------------------------------------------
## Banners
--------------------------------------------------------------*/
.banner {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	background-attachment: fixed;
	position: relative;
	max-height: 600px;

	@include mq(tablet) {
		max-height: 500px;
	}

	@include mq(phone) {
		max-height: 400px;
	}
}

.banner-caption {
	@include center;
	text-align: center;

	h1,
	p {
		color: $white;
	}
}
