/*--------------------------------------------------------------
## Main
--------------------------------------------------------------*/

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 24px;
}

.section-1 {
	.col-left {
		padding-top: 180px;
		padding-left: 195px;
	}
	.col-left__content {
		max-width: 536px;
		margin-left: 60px;
		margin-bottom: 21px;
	}
	.subtitle {
		font-family: Roboto;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 8px;
		display: block;
	}
	h2 {
		max-width: 532px;
		strong {
			font-weight: 500;
		}
	}
	.col-left__content p {
		width: 397px;
		color: #ffffff;
		font-size: 20px;
		font-weight: 300;
		line-height: 40.06px;
		margin-bottom: 23px;
	}
	.button--transparent {
		padding: 10px 23px;
		letter-spacing: 2px;
	}
}

.section-2 {
	.col-left {
		padding-top: 139px;
		padding-left: 45px;
	}
	.col-left__content {
		max-width: 536px;
		margin-left: 60px;
		margin-bottom: 21px;
	}
	.subtitle {
		color: $green;
		font-family: Roboto;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 8px;
		display: block;
	}
	h2 {
		max-width: 492px;
		strong {
			font-weight: 500;
		}
	}
	p {
		width: 474px;
		font-size: 20px;
		font-weight: 300;
		line-height: 40.06px;
		margin-bottom: 23px;
		color: #808080;
	}
	.button {
		padding: 10px 32px;
		letter-spacing: 2px;
		&:not(:last-child) {
			margin-right: 13px;
		}
	}
}

.section-3 {
	background-color: #fafafa;
	border-top: 1px solid #ebebeb;
}

.section-4 {
	border-top: 1px solid #ebebeb;
	margin-top: 22px;
}

.section-5 {
	padding-bottom: 125px;
	padding-top: 130px;
	.section-title {
		padding-bottom: 18px;
		margin-bottom: 15px;
	}
	.section-title__txt {
		line-height: 40px;
		margin-bottom: 88px;
		line-height: 40px;
	}
}
.section-6 {
	padding-top: 116px;
	.section-title {
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
	.section-title__txt {
		color: #878b92;
		line-height: 40px;
		letter-spacing: -0.1px;
	}
}
.section-7 {
	padding-top: 116px;
	padding-bottom: 130px;
	.section-title {
		color: #303133;
		font-family: Roboto;
		font-size: 40px;
		font-weight: 700;
		letter-spacing: 0.8px;
		padding-bottom: 33px;
	}
	.section-title__txt {
		line-height: 11.99px;
		letter-spacing: 0.4px;
		margin-bottom: 80px;
	}
	.container-wrapper {
		height: 700px;
		position: relative;
		perspective: 800px;
	}
}

.section-8 {
	padding-top: 113px;
	padding-bottom: 132px;
	.section-title {
		margin-bottom: 14px;
	}
	.section-title__txt {
		line-height: 40px;
	}
	.four-box-grid {
		grid-template-columns: repeat(4, 290px);
		grid-row-gap: 107px;
		max-width: 1200px;
		margin: {
			top: 73px;
			bottom: 87px;
			left: auto;
			right: auto;
		}
	}
}

.section-9 {
	padding: 71px;
	.button {
		padding: 18px 44px;
		letter-spacing: initial;
	}
	.content-wrapper {
		align-items: center;
	}
}


.card {
    width: 100%;
    min-height: 480px;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card .front,
.card .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	height: 100%;
    width: 100%;
}
.card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}
.back .wpcf7 {
	display: flex;
	justify-content: center;
}