/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/
a {
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: 0;
	}
}
.main-navigation {
	top:0;
	width: 100%;
	transition: all 0.5s;
	position: relative;
	z-index: 1;
	background-color: $white;

	body.fixed-nav & {
		position: fixed;
		box-shadow: 0 5px 0 rgba(0,0,0,0.1);
		.button {
			opacity: 1;
		}
	}

	body.logged-in & {
		// top: 32px;
	}


	.button {
		opacity: 0;
		transition: all .3s ease;
	}

	.container-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// all levels
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;

		height: 81px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 560px;

		li {
			margin: 0;
			display: inline-block;
			float: left;
			position: relative;
			&:first-child {
				a {
					padding-left: 0;
				}
			}
			a {
				display: block;
				text-decoration: none;
				color: $silver-dark;
				// padding: 35px 24px;
				transition: 0.3s ease-out;
				font-family: $font-main;

				font-size: 14px;
				font-weight: 400;
				line-height: 28px;
				text-transform: uppercase;
				letter-spacing: 0.7px;
			}

			&:hover > a,
			&.focus > a {
				color: $purple;
			}
		}
	}

	// deeper levels
	ul ul {
		position: absolute;
		display: none;
		left: 0;
		top: 100%;
		z-index: 99999;
		background-color: $grey-dark;

		// third and deeper levels
		ul {
			left: 100%;
			top: 0;
		}

		li {
			float: none;
			display: block;

			a {
				width: 200px;
				border-bottom: 1px solid $grey-light;
			}

			&:last-of-type a {
				border-bottom: none;
			}
		}
	}

	// hover

	@include mq('phone') {
		width: 230px;
		position: fixed;
		top: 0;
		right: 40px;
		padding-left: 40px;
		overflow: auto;
		bottom: 0;
		height: 100%;
		z-index: 100;
		transform: translateX(100%);
		transition: 0.4s ease;

		&.slide-in-nav {
			opacity: 1;
			transform: translateX(40px);
		}

		ul {
			background-color: $purple;
			min-height: 100%;
			padding: 10px 0;

			ul {
				position: static;
				background-color: $purple;
				transition: initial;
				transform: translateY(0);
				opacity: 1;
				display: none;
			}
		}

		li {
			float: none;
			padding: 15px;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/*--------------------------------------------------------------
## Menu Btn
--------------------------------------------------------------*/
.menu-btn {
	display: none;
	width: 30px;
	height: 19px;
	left: 0;
	top: 21px;
	position: absolute;

	&::after,
	&::before,
	span {
		width: 100%;
		height: 3px;
		position: absolute;
		display: block;
		background-color: $purple;
	}

	&::after,
	&::before {
		content: '';
		transition: 0.3s width 0.4s ease-out;
	}

	&::after {
		top: 0;
		left: 0;
	}

	&::before {
		bottom: 0;
		right: 0;
	}

	span {
		top: 50%;
		margin-top: -1.5px;
		transition: transform 0.3s ease-out;

		&::before {
			content: '';
			background-color: $purple;
			width: 100%;
			height: 3px;
			position: absolute;
			left: 0;
			transition: transform 0.3s ease-out;
		}
	}

	&.open {
		&::after,
		&::before {
			transition: 0.2s ease-out;
			width: 0;
		}

		&::after {
			left: 0;
		}

		&::before {
			right: 0;
		}

		span {
			transform: rotate(45deg);
			transition: 0.3s transform 0.4s ease-out;

			&::before {
				transform: rotate(-90deg);
				transition: 0.3s transform 0.4s ease-out;
			}
		}
	}

	@include mq(phone) {
		display: block;
	}
}

.secondary-menu {
	li {
		display: inline-block;
	}
	li a {
		color: $grey-dark;
		font-size: 18px;
		font-weight: 700;
		margin: 0 15px;
		&:first-child {
			margin-left: 0;
		}
	}
}