/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.copyright {
	background-color: $grey-dark;
	padding: 25px 15px;
	text-align: center;

	p {
		color: $white;
		margin: 0;
	}
}

.site-footer {
	padding: 55px 0;
	span {
		color: $grey-dark;
		margin: 0 15px;
	}
	a {
		font-size: 18px;
		font-weight: 300;
		margin: 15px 0;
	}
	p {
		margin-top: 60px;
		font-size: 15px;
	}
}