/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.site-header {
//	display: flex;
//	align-items: center;
//	justify-content: space-between;
//	padding: 0 15px;
//	background-color: $grey-dark;
	position: relative;
	min-height: 60px;
}

.primary-menu a {
	color: $silver-dark;
	text-transform: uppercase;
}

.header-top {
	padding: 28px 0;
	align-items: center;

	body.fixed-nav & {

		.button {
			opacity: 0;
			transition: all .3s ease;
		}
	}
}