/*
Theme Name: nex

WooCommerce styles override
*/

/**
 * WooCommerce color variables
 */
$woocommerce-color-error: #e2401c;
$woocommerce-color-success: #0f834d;
$woocommerce-color-info: #3d9cd2;

/**
 * Imports
 */
@import 'config/variables';
@import 'helpers/mixins';

/**
 * Shop tables
 */
@import 'shop/tables';

/**
 * Products
 */
@import 'shop/products';

/**
 * Single product
 */
@import 'shop/single-product';

/**
 * Checkout
 */
@import 'shop/checkout';

/**
 * General WooCommerce components
 */
@import 'shop/components';

/**
 * WooCommerce widgets
 */
@import 'shop/widgets';
