/*--------------------------------------------------------------
## Helpers
--------------------------------------------------------------*/
.clear,
.entry-content,
.comment-content,
.site-content,
.site-footer {
	@include clearfix;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.alignleft {
	display: inline;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	margin-left: 1.5em;
}

.centered {
	text-align: center;
}

//Text meant only for screen readers.
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		display: block;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex='-1']:focus {
	outline: 0;
}

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

// Print
@media print {
	body {
		background: #fff;
		color: #000;
		margin: 0;
		padding: 0;
		text-align: left;
	}
	a:link, a:visited {
		background: #fff;
		color: #000;
		text-decoration: underline;
	}
	a:not([href="javascript:;"])::after {
		content: " [" attr(href) "] ";
	}
	h1, h2, h3, h4, h5, h6 {
		background: none;
		color: #000;
	}
	// add elements that are going to be hidden
	.temp {
		display: none;
	}
}

.flex-vertical {
	display: inline-flex;
	align-items: center;
}

.entry-content {
	h3 {
		font-size: 45px;
	}
	p {
		line-height: 40px;
	}
}

.container-wrapper {
	width: 1440px;
	padding: 0 15px;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.reverse {
	flex-direction: row-reverse;
}

.green {
	color: $green;
}

.bg-purple {
	background-color: $purple;
}

.white {
	background-color: $white;
}

.grey-light {
	background-color: $grey-light;
}

.txt-white {
	color: $white;
}

.color-purple {
	color: $purple;
}

.lspacing {
	letter-spacing: 2px;
}

.relative {
	position: relative;
	height: 100%;
}

.center {
	@include center;
}

.line-after {
	position: relative;
	&::after {
		content: '';
		width: 100%;
		height: 1px;
		background-color: $grey;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.line-after__small {
	&::after {
		content: '';
		width: 30px;
		height: 4px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.line-after__small__green {
	&::after {
		background-color: $green;
	}
}

.line-after__small__purple {
	&::after {
		background-color: $purple;
	}
}

.line-before {
	position: relative;
	&::before {
		content: '';
		width: 100%;
		height: 1px;
		background-color: $grey;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.border {
	border: 1px solid $grey;
}

.wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.align-stretch {
	align-items: stretch;
}

.section-title {
	font-size: 45px;
	text-align: center;
	color: $silver;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.section-title__txt {
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: $grey-dark;
}

.padding-t {
	padding-top: 130px;
}

.padding-b {
	padding-bottom: 130px;
}

.background {
	background-repeat: no-repeat;
	background-position: 0 0;
}