/*--------------------------------------------------------------
## Base Layout
--------------------------------------------------------------*/
html, body {
	@include font-smoothing(antialiased);
	height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: $white;
	font-family: $font-main;
	/* overlay on mobile when aside nav is open */
	&::before {
		content: '';
		position: fixed;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(51, 51, 51, 0.5);
		z-index: 100;
		transition: 0.35s ease;
		opacity: 0;
		visibility: hidden;
	}

	&.overlay::before {
		visibility: visible;
		opacity: 1;
	}

	&.modal-open {
		overflow: hidden;
		-webkit-overflow-scrolling: auto;
	}
}

input {
	width: 432px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid #ebebeb;
	background-color: #ffffff;
	padding: 19px 21px;
	margin-bottom: 17px;
}
