@font-face {
	font-family: "fonticons";
	src: url('fonts/fonticons.eot');
	src: url('fonts/fonticons.eot?#iefix') format('eot'),
		url('fonts/fonticons.woff') format('woff'),
		url('fonts/fonticons.ttf') format('truetype');
}

@mixin font-styles {
	font-family: "fonticons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%font {
	@include font-styles;
}

@function font-char($filename) {
	$char: "";

	@if $filename == checkmark {
		$char: "\E001";
	}
	@if $filename == dribbble {
		$char: "\E002";
	}
	@if $filename == eur {
		$char: "\E003";
	}
	@if $filename == instagram {
		$char: "\E004";
	}
	@if $filename == linkedin {
		$char: "\E005";
	}
	@if $filename == right-arrow {
		$char: "\E006";
	}
	@if $filename == twitter {
		$char: "\E007";
	}
	@if $filename == vimeo {
		$char: "\E008";
	}

	@return $char;
}

@mixin font($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %font;
		} @else {
			@include font-styles;
		}
		content: font-char($filename);
	}
}

.font-checkmark {
	@include font(checkmark);
}
.font-dribbble {
	@include font(dribbble);
}
.font-eur {
	@include font(eur);
}
.font-instagram {
	@include font(instagram);
}
.font-linkedin {
	@include font(linkedin);
}
.font-right-arrow {
	@include font(right-arrow);
}
.font-twitter {
	@include font(twitter);
}
.font-vimeo {
	@include font(vimeo);
}
