/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/

@font-face {
	font-family: "Roboto Bold";
	src: url("fonts/Roboto-Bold.woff2") format("woff2"), url("fonts/Roboto-Bold.woff") format("woff"), url("fonts/Roboto-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto Light";
	src: url("fonts/Roboto-Light.woff2") format("woff2"), url("fonts/Roboto-Light.woff") format("woff"), url("fonts/Roboto-Light.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Regular.woff2") format("woff2"), url("fonts/Roboto-Regular.woff") format("woff"), url("fonts/Roboto-Regular.otf") format("opentype");
	font-style: normal;
	font-weight: 400;
}


@font-face {
    font-family: "Roboto Black";
	src:url("fonts/Roboto-Black.woff2") format("woff2"),
	url("fonts/Roboto-Black.woff") format("woff"),
	url("fonts/Roboto-Black.otf") format("opentype");
	font-style:normal;
	font-weight:400;
}


body,
button,
input,
select,
optgroup,
textarea {
	color: $color-text-main;
	font-family: $font-main;
	font-size: 16px;
	line-height: 1.35;
}

p {
	margin-bottom: 0;
	font-weight: 300;
	font-family: $font-main;
	@include fluid-type(17px,
	20px);
}

p.small {
	@include fluid-type(14px,
	17px);
}

span {
	font-size: 20px;
}

a {
	color: $grey;
	&:hover {
		color: $purple;
	}
}

blockquote {
	margin: 0 25px;
}

pre {
	background: $grey-light;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

// Icon font
[class*='font-'] {
	display: inline-block;
	font-size: 30px;
	color: $black;
	line-height: 1;
}

h2,
span#typed,
span#typed2 {
	@include fluid-type(35px,
	45px);
	font-weight: 300;
	font-family: $font-light-serif;
	strong {
		font-size: inherit;
		font-family: $font-default-serif;
	}
	span {
		font-size: inherit;
	}
}

h3 {
	color: #303133;
	@include fluid-type(30px,
	40px);
	font-weight: 700;
	letter-spacing: 0.8px;
}

h3 {
	@include fluid-type(22px,
	35px);
	font-weight: 700;
}

h4 {
	@include fluid-type(20px,
	30px);
	font-weight: 700;
}

h5 {
	@include fluid-type(18px,
	20px);
}