.two-columns {
    height: 674px;
}
.two-columns__content {
    width: 50%;
    .grey-light {
        height: 100%;
        padding: 145px 0 0 105px;
        .entry-content {
            max-width: 500px;
            color: $grey-dark;
            h3 {
                color: $silver-dark;
            }
            p {
                margin-bottom: 30px;
            }
            a {
                border: 1px solid $green;
                border-radius: 5px;
                letter-spacing: 2px;
                color: $green;
                padding: 15px 20px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    .purple {
        display: flex;
        justify-content: center;
        flex-direction: column;
       // width: 50%;
        padding-left: 10px;
        .entry-content {
            width: 50%;
            margin: 0 auto;
            p {
                margin-bottom: 30px;
            }
        }
        .border {
            border-radius: 5px;
            border: 1px solid $white;
            padding: 15px 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $white;
            font-weight: 700;
        }
    }
}

.two-column-small {
    justify-content: center;
}

.two-column-small__content {
    max-width: 374px;
    width: 100%;
    padding: 30px 34px;
    margin: 0 45px;
    .two-column-small__price span {
        font-size: inherit;
        color: inherit;
        display: flex;
    }

    .two-column-small__price--small {
        font-size: 30px;
        position: relative;
        backface-visibility: hidden;
        &::after {
            content: '';
            width: 80px;
            height: 4px;
            background-color: #d75f64;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotate(-30deg) translate(-50%);
            transform-origin: left;
            backface-visibility: hidden;
        }
    }
    .two-column-small__price--big {
        font-size: 60px;
        font-family: "Roboto Black";
    }

    .button {
        display: block;
        margin: auto;
    }

    &:nth-child(2) {
        .two-column-small__price {
            text-align: center;
        }
        ul li span,
        .two-column-small__price {
            color: $purple;
        }
    }
    a {
        margin: 0 auto;
        display: block;
        max-width: 210px;
        width: 100%;
        text-align: center;
        padding: 15px;
        letter-spacing: 5px;
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: 700;
    }
    ul {
        margin: 15px 0 30px;
        padding: 0 21px;
        li {
            color: #777;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 0;
            span {
                color: $green;
                margin-right: 20px;
                font-size: 17px;
                align-self: flex-start;
                margin-top: 2px;
            }
        }
    }
    > .flex {
        justify-content: space-evenly;
    }
}

.two-column-small__content h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.two-column-small__txt {
    display: block;
    text-align: center;
}

.two-column-small__price {
    font-size: 60px;
    font-weight: 700;
}

.price-title {
    font-weight: 700;
    margin-bottom: 0;
}