.tab-list {
    display: flex;
    border-bottom: 0;
}

.tab-list__item a {
    border: 1px solid $green;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease;
    color: $green;
    align-items: center;

    &.active {
        background-color: $green;
        color: $white;
    }
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.tab-list--big {
    justify-content: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
}


.tab-list--big__item {
    margin: 0 35px;
    max-width: 274px;
    width: 100%;
}

.tab-list--big__item a {
    height: 59px;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 0 19px;
}

.tab-list--small {
    //
}

.tab-list--small__item {
    margin-right: 30px;
    max-width: 127px;
    width: 100%;
}
.tab-list--small__item a {
    height: 37px;
    // padding: 15px 36px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 12px;
}
