.three-column-wrapper {
    max-width: 388px;
    width: 100%;
    margin: 0 0 126px;
}
.three-column-wrapper__image {
    height: 245px;
}

.three-column-wrapper__background-wrapper {
    height: 100%;
    background-repeat: no-repeat;
}

.three-column-wrapper__title {
    font-size: 33px;
    color: $silver-dark;
    color: #303133;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    line-height: 42px;
    margin-bottom: 31px;
}

.three-column-wrapper__txt {
    font-size: 18px;
    color: $grey-dark;
    line-height: 35px;
}

.three-column-wrapper__content {
    padding: 40px 30px 0;
}