.counter {
    padding: 83px 18px 37px;
}
.counter__item {
    text-align: center;
}

.counter__item__title {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 2px;
}

.counter__item__number {
    width: 68px;
    height: 28px;
    color: #651297;
    font-family: Roboto;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}