.four-box-grid {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    grid-row-gap: 66px;
    grid-column-gap: 30px;
}

.four-box:hover .four-box__subtitle {
    color: $purple;
    transition: .3s ease-in;
}

.four-box__title {
    font-size: 23px;
    margin-top: 18px;
    cursor: pointer;
    color: #131212;
}
.four-box__subtitle {
    color: #878b92;
    font-size: 16px;
    font-weight: 400;
}
.four-box__content {
    font-size: 16px;
    width: 100%;
    display: block;
    margin-bottom: 21px;
    cursor: pointer;
}

.four-box__text-title {
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
    color: #131212;
}
.four-box__text {
    font-size: 16px;
    font-weight: 400;
    color: #878b92;

    max-height: 0;
    position: relative;
    overflow-y: hidden;

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0,.67,.83,.67);
}

.four-box__text.open {
    padding-bottom: 20px;
	max-height: 330px;

}

.four-box__image {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;

    &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
    }
}

.four-box-section a {
    display: block;
}
.four-box-section img {
    margin: 0 auto;
}

.four-box__socials {
    border-top: 1px solid #ebebeb;
}

.four-box__socials span {
    color: #808080;
    font-size: 21px;
    padding: 16px 0 0 0;
    width: 39px;
    transition: .3s ease;

    &:hover {
        color: $purple;
    }
}

.speakers__button-wrapper {
    font-size: 18px;
    max-width: 210px;
    margin: 0 auto;
    width: 100%;
    margin-top: 72px;

    .font-arrow-up {
        transform: rotate(90deg);
        // position: relative;
        bottom: -10%;
        right: 10px;
    }
}

.speakers__button {
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 186px;
    margin: auto;

    > span {
        font-size: 18px;
    }
    .font-right-arrow {
        display: flex;
        align-items: center;
        font-size: 24px;
        color: $purple;
    }
}