/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.btn {
	border: 0;
	border-radius: 4px;
	color: $white;
	background: $black;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: bold;
	transition: 0.5s ease;

	&:hover {
		background: $black;
		color: $white;
	}
}

.button {
	border-radius: 5px;
	text-transform: uppercase;
	display: inline-block;
	color: $white;
	min-width: 170px;
	font-size: 16px;
	font-family: $font-main;
	text-align: center;
	padding: 13px 0;
	transition: all .3s ease;
	border: none;
}

.button--transparent {
	background-color: transparent;
	border: 1px solid $white;
}

.button--purple {
	background-color: $purple;
}

.button--purple-border {
	border: 1px solid $purple;
	color: $purple;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	padding: 9px 23px;
	&:hover {
		background-color: $purple;
		color: $white;
	}
}

.button--green {
	background-color: $green;
	letter-spacing: 2px;
	border: 1px solid $green;

	&:hover {
		background-color: $white;
		color: $green;
	}
}

.button--green.button--underline:hover {
	text-decoration: underline;
	color: $white;
	background: $green;
}

.button--green-border {
	background-color: transparent;
	border: 1px solid $green;
	color: $green;
	letter-spacing: 2px;

	&:hover {
		background-color: $green;
		color: $white;
		text-decoration: underline;
	}
}

.button--underline:hover {
	text-decoration: underline;
	color: $white;
}

.button--lower {
	text-transform: inherit;
}

.button--center {
	display: block;
	max-width: 324px;
	width: 100%;
	margin: 0 auto;
}

.speakers--button {
	display: block;
	margin: 0 auto;
//	text-align: center;
	span {
		color: $purple;
	}
}

.modal-trigger {
	cursor: pointer;
}