/*--------------------------------------------------------------
## Forms
--------------------------------------------------------------*/
.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select select {
    width: 432px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 19px 21px;
    margin-bottom: 17px;
    font-size: 16px;
}


