.media-wrapper {
    position: relative;
    overflow: hidden;
}

.destination-specifics-section .media-wrapper .animated-overlay {
    background-color: #f5f5f5;
}

.animated-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 200;
}
// .content-wrapper img {
//     width: 100%;
//     height: auto;
// }
.nesto {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.nesto2 {
    transform: translate(100%, 0%) matrix(1, 0, 0, 1, 0, 0);
}