.modal {
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}
.modal--cookie {
	display: flex;
	.modal__content {
		border-radius: 0;
		padding: 39px 30px 22px 30px;
		max-width: 649px;
		width: 100%;
		height: 168px;
		box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
	}
	.link-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-top: 21px;
	}

	p {
		color: #808080;
		font-size: 15px;
		font-weight: 300;
		line-height: 30px;
	}

	a {
		color: $purple;
		font-size: 15px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		letter-spacing: 2px;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 29px;
		}
	}
}

.modal__content {
	border-radius: 5px;
	border: 1px solid #ebebeb;
	background-color: #fafafa;
	position: relative;
	max-width: 771px;
	width: 100%;
	.modal--form & {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 80px 150px;
		text-align: center;
		.modal__title {
			margin-bottom: 25px;
		}
		.modal__text {
			margin-bottom: 42px;
			color: #777777;
			line-height: 40.01px;
		}
		.modal__text--bottom {
			color: #777777;
			font-size: 15px;
			line-height: 12px;
			letter-spacing: 0.3px;
			a {
				text-decoration: underline;
			}
		}
		.button {
			max-width: 326px;
			margin: 39px auto 26px auto;
		}
	}
	.modal--grid & {
		padding: 79px 94px 64px 94px;
		max-height: 771px;
		overflow: scroll;
		.modal__title {
			text-align: center;
			margin-bottom: 55px;
		}
		.modal__grid {
			display: grid;
			grid-template-columns: repeat(2, 258px);
			grid-column-gap: 68px;
			grid-row-gap: 45px;
		}

		.modal__item__title {
			margin-top: 20px;
			margin-bottom: 16px;
			color: #303133;
			font-family: Roboto;
			font-weight: 400;
			line-height: 12px;
			letter-spacing: 0.4px;
		}
	}
}

.modal__close {
	width: 49px;
	height: 49px;
	background-color: rgba(48, 49, 51, .09);
	border: 1px solid rgba(48, 49, 51, .09);
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(128, 128, 128, 0.6);
	font-size: 28px;
	font-weight: 400;
	border-radius: 50%;
	position: absolute;
	right: 19px;
	top: 16px;
	cursor: pointer;
	transition: .3s ease-in;
	&:hover {
		background-color: transparent;
	}
}

.block {
	display: flex;
}